<% if @list.photo.attached? %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key%>')">
 <strong><%= @list.name.capitalize %></strong>
</div>
<% else %>
 <h1 class="text-center"><strong><%= @list.name.capitalize %></strong></h1>
<% end %>

<%# <%= cl_image_path @list.photo.key, height: 300, width: 400, crop: :fill %>
<br>
<% @list.movies.each do |movie| %>
<ul>
<li><%= movie.title %></li>
<img src=<%=movie.poster_url%> width="300">
</ul>

<% end %>

<%= link_to "Add film", new_list_bookmark_path(@list) %>
